--extra-index-url https://download.pytorch.org/whl/cu118
accelerate==0.29.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
controlnet-aux==0.0.8
diffusers @ git+https://github.com/huggingface/diffusers@5915c2985db162278e09196160d796166c89ad12
einops==0.8.0
filelock==3.13.1
fsspec==2024.2.0
huggingface-hub==0.22.2
idna==3.7
imageio==2.34.1
importlib_metadata==7.1.0
intel-openmp==2021.4.0
Jinja2==3.1.3
lazy_loader==0.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mkl==2021.4.0
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==24.0
peft==0.10.0
pillow==10.3.0
psutil==5.9.8
Pygments==2.17.2
PyYAML==6.0.1
regex==2024.4.28
requests==2.31.0
rich==13.7.1
safetensors==0.4.3
scikit-image==0.23.2
scipy==1.13.0
setuptools==69.5.1
shellingham==1.5.4
sympy==1.12
tbb==2021.11.0
tifffile==2024.4.24
timm==0.6.7
tokenizers==0.19.1
torch==2.3.0+cu118
torchvision==0.18.0+cu118
tqdm==4.66.2
transformers==4.40.1
typer==0.12.3
typing_extensions==4.9.0
urllib3==2.2.1
wheel==0.43.0
zipp==3.18.1
